:root{
    --rosa-Barbie : #FF69B4;
    --rosa-Claro  : #FFB6C1;
    --rosa-Suave  : #FFC0CB;
    --rojo-Oscruo : #B22222;
}

.inicio{
   
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background-attachment: fixed;
}

.contenido{
    height: 80vh;
    width: 150vh;

    margin-left: 150px;

    background-color: rgba(255, 105, 180, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-en-columnas {    
    width: 50%;
    column-count: 2; /* Divide el texto en dos columnas */
    column-gap: 20px; /* Espacio entre las columnas (ajústalo según tus preferencias) */
  }

  .texto-en-columnas p{
    font-size: 20px;
  }