:root{
    --rosa-Barbie : #FF69B4;
    --rosa-Claro  : #FFB6C1;
    --rosa-Suave  : #FFC0CB;
    --rojo-Oscruo : #B22222;
}

.cuerpoT{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255, 182, 192, 0.8);

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.table{
    opacity: 1;
}
